{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Music evaluation survey</title>
    <meta charset="utf-8">
    <link rel = "stylesheet"
          type = "text/css"
          href="{% static 'musicsurvey/style.css' %}"
          />
    <script type = "text/javascript">
      window.onload = function() {
          window.survey_start = new Date();
      };
      function survey_submit() {
          var form = document.forms["survey"];
          for (var i = 0; i < {{ pairs|length }}; i++) {
              var input_name = "sel" + i;
              var value = form.elements[input_name].value;
              if (!value) {
                  alert("Please answer question " + (i + 1) + ".");
                  return false;
              }
          }
          var elapsed_s = (new Date() - window.survey_start) / 1000.0;
          var input = document.createElement('input');
          input.setAttribute('name', 'elapsed_s');
          input.setAttribute('value', elapsed_s);
          input.setAttribute('type', 'hidden');
          form.appendChild(input);
          return true;
      }
      function mute_others(el) {
          var others = document.querySelectorAll("audio");
          [].forEach.call(others, function(oth) {
              if (oth != el) {
                  oth.pause();
              }
          });
      }
    </script>
  </head>
  <body>
    <form class="container"
          method="POST"
          action="{% url 'submit' %}"
          id="survey"
          onsubmit="return survey_submit()">
      {% csrf_token %}
      <h1>Music evaluation survey</h1>
      <p>This is a project for generating music using machine learning
        models trained on tracker music in MOD format.</p>
      <p>Please help evaluate the strength of the models by listening
        to the pairs of clips below. The clips in each pair starts the
        same but continues differently, depending on how the clip was
        generated. For each pair, select the clip you think sounds
        better. When you are done press submit answer. The models or
        humans that composed each clip will be revealed. You can
        retake the survey multiple times.</p>
      <p>No personal information is collected.</p>

      <p>See <a href="https://github.com/bjourne/musicgen">https://github.com/bjourne/musicgen</a>
      for more information about the project.</p>
      {% for p0, p1 in pairs %}
      <h2>[{{ forloop.counter }}/{{ pairs|length }}] Which clip do you prefer?</h2>
      <ul class="two-choice">
        <li>
          <input type="radio"
                 id="sel{{ forloop.counter0 }}-top"
                 value="{{ p0.name }}-{{ p1.name }}"
                 name="sel{{ forloop.counter0 }}">
          <label for="sel{{ forloop.counter0 }}-top">
            <audio controls
                   onplay="mute_others(this)"
                   src="{% get_static_prefix %}musicsurvey/clips/{{ p0.name}}.mp3">
              Your browser does not support the
              <code>audio</code> element.</audio>
          </label>
          <div class="check"></div>
        </li>
        <li>
          <input type="radio"
                 id="sel{{ forloop.counter0 }}-bottom"
                 value="{{ p1.name }}-{{ p0.name }}"
                 name="sel{{ forloop.counter0 }}">
          <label for="sel{{ forloop.counter0 }}-bottom">
            <audio controls
                   onplay="mute_others(this)"
                   src="{% get_static_prefix %}musicsurvey/clips/{{ p1.name}}.mp3">
              Your browser does not support the
              <code>audio</code> element.</audio>
          </label>
          <div class="check"></div>
        </li>
      </ul>
      {% endfor %}
      <input type = "submit" value = "Submit answers"/>
    </form>
  </body>
</html>
